<!DOCTYPE html>
<html>
    <head>
        @using OrderTracker.Models;
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/styles.css">
        <title>Vendors</title>
    </head>
    <body>
        <h2>Orders for @Model["vendor"].Name</h2>
        <h3>Description: @Model["vendor"].Description</h3>
        <ol>
        @foreach (Order order in @Model["orders"])
        {
        <li><a href='/vendors/@Model["vendor"].ID/orders/@order.ID'>@order.Description</a></li>
        }
        </ol>

        <p><a href='/vendors/@Model["vendor"].ID/orders/new'>Add an order</a></p>
        <p><a href='/vendors'>Return to vendor info</a></p>
        <p><a href='/'>Return Home</a></p>
    </body>
</html>