<!DOCTYPE html>
<html>
    <head>
        <title>Pierre's Order Tracker</title>
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/styles.css">
    </head>
    <body>
        <h1>Welcome Pierre, Let me help you track your Vendors/Orders</h1>
        <a href="/vendors/new">Add a new vendor.</a>
        <a href="/vendors">See all current vendors</a>
    </body>
</html>