<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/styles.css">
        <title>Orders Deleted</title>
    </head>
    <body>
        <h1>All Orders Deleted</h1>
        <p><a href="/orders">Back to orders page.</a></p>
    </body>
</html>