<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/styles.css">
        <title>Document</title>
    </head>
    <body>
        
    </body>
</html>